[user]
  name = Ayato-san
  email = dev.github.collision@p.ayato-san.fr

[core]
  autocrlf = false

[init]
  defaultBranch = main

[push]
  autoSetupRemote = true

[pull]
	rebase = true

[fetch]
  prune = true

[commit]
  template = "~/.gitmessage"

[credential "https://github.com"]
	helper = "!gh auth git-credential"

[credential "https://gist.github.com"]
	helper = "!gh auth git-credential"
